<div class="menu-page" data-id="6">
    <div class="page-title">Devtool</div>
    <p class="page-description">Test Glotus Client and report about bugs!</p>


    <!-- myPlayer -->
    <div class="section">
        <h2 class="section-title">myPlayer</h2>

        <div class="section-content">

            <div class="content-option">
                <span class="option-title">Display player angle</span>
                <label class="switch-checkbox">
                    <input id="_displayPlayerAngle" type="checkbox"></input>
                    <span></span>
                </label>
            </div>

        </div>
    </div>


    <!-- Hitboxes -->
    <div class="section">
        <h2 class="section-title">Hitboxes</h2>

        <div class="section-content">

            <div class="content-option">
                <span class="option-title">Weapon hitbox</span>
                <label class="switch-checkbox">
                    <input id="_weaponHitbox" type="checkbox"></input>
                    <span></span>
                </label>
            </div>

            <div class="content-option">
                <span class="option-title">Collision hitbox</span>
                <label class="switch-checkbox">
                    <input id="_collisionHitbox" type="checkbox"></input>
                    <span></span>
                </label>
            </div>

            <div class="content-option">
                <span class="option-title">Placement hitbox</span>
                <label class="switch-checkbox">
                    <input id="_placementHitbox" type="checkbox"></input>
                    <span></span>
                </label>
            </div>

            <div class="content-option">
                <span class="option-title">Possible placement</span>
                <label class="switch-checkbox">
                    <input id="_possiblePlacement" type="checkbox"></input>
                    <span></span>
                </label>
            </div>
        
        </div>
    </div>

    <!-- Statistics -->
    <div class="section">
        <h2 class="section-title">Statistics</h2>

        <div class="section-content small-section">

            <div class="content-option left-flex text">
                <span class="option-title">Total kills: </span>
                <span id="_totalKills" class="text-value">0</span>
            </div>

            <div class="content-option left-flex text">
                <span class="option-title">Global kills with bots: </span>
                <span id="_globalKills" class="text-value">0</span>
            </div>

            <div class="content-option left-flex text">
                <span class="option-title">Deaths: </span>
                <span id="_deaths" class="text-value">0</span>
            </div>

            <div class="content-option left-flex text">
                <span class="option-title">Autosync: </span>
                <span id="_autoSyncTimes" class="text-value">0</span>
            </div>

            <div class="content-option left-flex text">
                <span class="option-title">Velocity tick: </span>
                <span id="_velocityTickTimes" class="text-value">0</span>
            </div>

            <div class="content-option left-flex text">
                <span class="option-title">SSHammer: </span>
                <span id="_spikeSyncHammerTimes" class="text-value">0</span>
            </div>

            <div class="content-option left-flex text">
                <span class="option-title">Spike sync: </span>
                <span id="_spikeSyncTimes" class="text-value">0</span>
            </div>

            <div class="content-option left-flex text">
                <span class="option-title">Spike tick: </span>
                <span id="_spikeTickTimes" class="text-value">0</span>
            </div>

            <div class="content-option left-flex text">
                <span class="option-title">KBTrap: </span>
                <span id="_knockbackTickTrapTimes" class="text-value">0</span>
            </div>

            <div class="content-option left-flex text">
                <span class="option-title">KBHammer: </span>
                <span id="_knockbackTickHammerTimes" class="text-value">0</span>
            </div>

            <div class="content-option left-flex text">
                <span class="option-title">KB Reg: </span>
                <span id="_knockbackTickTimes" class="text-value">0</span>
            </div>

        </div>
    </div>

</div>