<div class="menu-page" data-id="1">
    <div class="page-title">Keybinds</div>
    <p class="page-description">Setup keybinds for items, weapons and hats</p>

    <!-- Items & Weapons -->
    <div class="section">
        <div class="section-title">Items & Weapons</div>
        <div class="section-content split">

            <div class="content-split">
                <div class="content-option">
                    <span class="option-title">Food</span>
                    <button id="_food" class="hotkeyInput"></button>
                    <span class="option-description">It is useful to press this button, when you have a really high ping. Because AutoQ is not able to detect such threats</span>
                </div>

                <div class="content-option">
                    <span class="option-title">Wall</span>
                    <button id="_wall" class="hotkeyInput"></button>
                </div>

                <div class="content-option">
                    <span class="option-title">Spike</span>
                    <button id="_spike" class="hotkeyInput"></button>
                </div>

                <div class="content-option">
                    <span class="option-title">Windmill</span>
                    <button id="_windmill" class="hotkeyInput"></button>
                </div>
            </div>

            <div class="content-split">
                <div class="content-option">
                    <span class="option-title">Farm</span>
                    <button id="_farm" class="hotkeyInput"></button>
                    <span class="option-description">Places trees/mines</span>
                </div>

                <div class="content-option">
                    <span class="option-title">Trap</span>
                    <button id="_trap" class="hotkeyInput"></button>
                    <span class="option-description">Places traps/boostpads</span>
                </div>

                <div class="content-option">
                    <span class="option-title">Turret</span>
                    <button id="_turret" class="hotkeyInput"></button>
                    <span class="option-description">Places turrets, teleports, platforms etc</span>
                </div>

                <div class="content-option">
                    <span class="option-title">Spawn</span>
                    <button id="_spawn" class="hotkeyInput"></button>
                </div>
            </div>
        </div>
    </div>

    <!-- Controls & Movement -->
    <div class="section">
        <div class="section-title">Controls & Movement</div>
        <div class="section-content">

            <div class="content-split">

                <div class="content-option">
                    <span class="option-title">Lock bot position</span>
                    <button id="_lockBotPosition" class="hotkeyInput"></button>
                    <span class="option-description">Press this button and bots will be locked to your last cursor position</span>
                </div>

                <div class="content-option">
                    <span class="option-title">Toggle Shop</span>
                    <button id="_toggleShop" class="hotkeyInput"></button>
                </div>

                <div class="content-option">
                    <span class="option-title">Toggle Clan</span>
                    <button id="_toggleClan" class="hotkeyInput"></button>
                </div>

                <div class="content-option">
                    <span class="option-title">Toggle Menu</span>
                    <button id="_toggleMenu" class="hotkeyInput"></button>
                    <span class="option-description">Press this button to open and close the menu</span>
                </div>

                <div class="content-option">
                    <span class="option-title">Instakill</span>
                    <button id="_instakill" class="hotkeyInput"></button>
                </div>

            </div>
        </div>
    </div>
</div>