<div class="menu-page" data-id="4">
    <div class="page-title">Misc</div>
    <p class="page-description">Customize misc settings, add autochat messages, reset settings</p>

    <!-- Other -->
    <div class="section">
        <h2 class="section-title">Other</h2>

        <div class="section-content">

            <div class="content-option">
                <span class="option-title">Kill Message</span>
                <div class="option-content">
                    <input id="_killMessageText" class="input" type="text" maxlength="30">
                    <label class="switch-checkbox">
                        <input id="_killMessage" type="checkbox">
                        <span></span>
                    </label>
                </div>
            </div>

            <div class="content-option">
                <span class="option-title">Autospawn</span>
                <label class="switch-checkbox">
                    <input id="_autospawn" type="checkbox"></input>
                    <span></span>
                </label>
            </div>

            <div class="content-option">
                <span class="option-title">Autoaccept</span>
                <label class="switch-checkbox">
                    <input id="_autoaccept" type="checkbox"></input>
                    <span></span>
                </label>
            </div>

            <div class="content-option">
                <span class="option-title">Texture pack</span>
                <label class="switch-checkbox">
                    <input id="_texturepack" type="checkbox"></input>
                    <span></span>
                </label>
                <span class="option-description">Some old looking texture pack. Reload the page to make it work! :)</span>
            </div>

            <div class="content-option">
                <span class="option-title">Hide game HUD</span>
                <label class="switch-checkbox">
                    <input id="_hideHUD" type="checkbox"></input>
                    <span></span>
                </label>
            </div>

            <div class="content-option">
                <span class="option-title">Chat Log</span>
                <label class="switch-checkbox">
                    <input id="_chatLog" type="checkbox"></input>
                    <span></span>
                </label>

                <span class="option-description">Use this only for debugging purposes. Report about any known problems</span>
            </div>

            <div class="content-option">
                <button id="resetSettings" class="option-button red">RESET SETTINGS</button>
            </div>

        </div>
    </div>


    <!-- Menu -->
    <!-- <div class="section">
        <h2 class="section-title">Menu</h2>

        <div class="section-content">

            <div class="content-option">
                <span class="option-title">Transparency</span>
                <label class="switch-checkbox">
                    <input id="_menuTransparency" type="checkbox"></input>
                    <span></span>
                </label>
            </div>

        </div>
    </div> -->

</div>