<div class="menu-page" data-id="3">
    <div class="page-title">Visuals</div>
    <p class="page-description">Customize your visuals, or you can disable it for performance</p>

    <!-- Tracers -->
    <div class="section">
        <div class="section-title">Tracers</div>
        <div class="section-content">

            <div class="content-option">
                <span class="option-title">Enemies</span>
                <div class="option-content">
                    <button class="reset-color" title="Reset Color"></button>
                    <input id="_enemyTracersColor" type="color" title="Select Color">
                    <label class="switch-checkbox">
                        <input id="_enemyTracers" type="checkbox"></input>
                        <span></span>
                    </label>
                </div>
            </div>

            <div class="content-option">
                    <span class="option-title">Teammates</span>
                    <div class="option-content">
                        <button class="reset-color" title="Reset Color"></button>
                        <input id="_teammateTracersColor" type="color" title="Select Color">
                        <label class="switch-checkbox">
                            <input id="_teammateTracers" type="checkbox"></input>
                            <span></span>
                        </label>
                    </div>
                </div>

                <div class="content-option">
                    <span class="option-title">Animal</span>
                    <div class="option-content">
                        <button class="reset-color" title="Reset Color"></button>
                        <input id="_animalTracersColor" type="color" title="Select Color">
                        <label class="switch-checkbox">
                            <input id="_animalTracers" type="checkbox"></input>
                            <span></span>
                        </label>
                    </div>
                </div>

                <div class="content-option">
                    <span class="option-title">Notification</span>
                    <div class="option-content">
                        <button class="reset-color" title="Reset Color"></button>
                        <input id="_notificationTracersColor" type="color" title="Select Color">
                        <label class="switch-checkbox">
                            <input id="_notificationTracers" type="checkbox"></input>
                            <span></span>
                        </label>
                    </div>
                </div>

        </div>
    </div>

    <!-- Markers -->
    <div class="section">
        <div class="section-title">Markers</div>

        <div class="section-content">

            <div class="content-option">
                <span class="option-title">Item Markers</span>
                <div class="option-content">
                    <button class="reset-color" title="Reset Color"></button>
                    <input id="_itemMarkersColor" type="color" title="Select Color">
                    <label class="switch-checkbox">
                        <input id="_itemMarkers" type="checkbox"></input>
                        <span></span>
                    </label>
                </div>
            </div>

            <div class="content-option">
                <span class="option-title">Teammates</span>
                <div class="option-content">
                    <button class="reset-color" title="Reset Color"></button>
                    <input id="_teammateMarkersColor" type="color" title="Select Color">
                    <label class="switch-checkbox">
                        <input id="_teammateMarkers" type="checkbox"></input>
                        <span></span>
                    </label>
                </div>
            </div>

            <div class="content-option">
                <span class="option-title">Enemies</span>
                <div class="option-content">
                    <button class="reset-color" title="Reset Color"></button>
                    <input id="_enemyMarkersColor" type="color" title="Select Color">
                    <label class="switch-checkbox">
                        <input id="_enemyMarkers" type="checkbox"></input>
                        <span></span>
                    </label>
                </div>
            </div>
                
        </div>
    </div>

    <!-- Player -->
    <div class="section">
        <div class="section-title">Player</div>

        <div class="section-content">

            <div class="content-option">
                <span class="option-title">Weapon XP Bar</span>
                <label class="switch-checkbox">
                    <input id="_weaponXPBar" type="checkbox"></input>
                    <span></span>
                </label>
            </div>

            <div class="content-option">
                <span class="option-title">Turret Reload Bar</span>
                <div class="option-content">
                    <button class="reset-color" title="Reset Color"></button>
                    <input id="_playerTurretReloadBarColor" type="color" title="Select Color">
                    <label class="switch-checkbox">
                        <input id="_playerTurretReloadBar" type="checkbox"></input>
                        <span></span>
                    </label>
                </div>
            </div>

            <div class="content-option">
                <span class="option-title">Weapon Reload Bar</span>
                <div class="option-content">
                    <button class="reset-color" title="Reset Color"></button>
                    <input id="_weaponReloadBarColor" type="color" title="Select Color">
                    <label class="switch-checkbox">
                        <input id="_weaponReloadBar" type="checkbox"></input>
                        <span></span>
                    </label>
                </div>
            </div>

            <div class="content-option">
                <span class="option-title">Render HP</span>
                <label class="switch-checkbox">
                    <input id="_renderHP" type="checkbox"></input>
                    <span></span>
                </label>
            </div>

            <!-- <div class="content-option">
                <span class="option-title">Stacked Damage</span>
                <label class="switch-checkbox">
                    <input id="_stackedDamage" type="checkbox"></input>
                    <span></span>
                </label>
            </div> -->
        </div>
    </div>

    <!-- Object -->
    <div class="section">
        <div class="section-title">Object</div>

        <div class="section-content">

            <div class="content-option">
                <span class="option-title">Turret Reload Bar</span>
                <div class="option-content">
                    <button class="reset-color" title="Reset Color"></button>
                    <input id="_objectTurretReloadBarColor" type="color" title="Select Color">
                    <label class="switch-checkbox">
                        <input id="_objectTurretReloadBar" type="checkbox"></input>
                        <span></span>
                    </label>
                </div>
            </div>

            <div class="content-option">
                <span class="option-title">Item Health Bar</span>
                <div class="option-content">
                    <button class="reset-color" title="Reset Color"></button>
                    <input id="_itemHealthBarColor" type="color" title="Select Color">
                    <label class="switch-checkbox">
                        <input id="_itemHealthBar" type="checkbox"></input>
                        <span></span>
                    </label>
                </div>
            </div>

        </div>
    </div>

</div>